<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Homepage</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../static/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../../static/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../static/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../static/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../../static/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="../../static/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../../static/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../static/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- 좌측바 -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="homepage.html" class="app-brand-link">
              <span class="app-brand-logo demo">
                <!-- SVG content here -->
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2">ISDInventory</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Left Navi Bar -->
            <li class="menu-item">
              <a href="homepage.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            <!-- Layouts -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Product</div>
              </a>

              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="product_list.html" class="menu-link">
                    <div data-i18n="Without menu">Product List</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="order_create.html" class="menu-link">
                    <div data-i18n="Without navbar">Purchase</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="order_list.html" class="menu-link">
                    <div data-i18n="Container">Ordered List</div>
                  </a>
                </li>
              </ul>
            </li>

            <li class="menu-item">
              <a href="supplier_list.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Analytics">Suppliers</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="shipment_list.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Analytics">Shipment to Customer</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="delivery_list.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Analytics">Delivery from Supplier</div>
              </a>
            </li>
          </ul>
        </aside>

        <!-- Search -->
        <div class="layout-page">
          <!-- Navbar -->
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                      <a class="nav-link" href = "javascript:void(0);" data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <div class="rounded-circle" style="background-color: #6C757D; width: 40px; height: 40px;"></div>
                        </div>
                    </a>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                          <a class="dropdown-item" href="#">
                            <div class="d-flex">
                              <div class="flex-grow-1">
                                <span class="fw-semibold d-block">John</span>
                                <small class="text-muted">Manager</small>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <div class="dropdown-divider"></div>
                        </li>
                        <li>
                          <a class="dropdown-item" href="login-basic.html">
                            <i class="bx bx-power-off me-2"></i>
                            <span class="align-middle">Log Out</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <!--/ User -->
                </ul>
            </div>
        </nav>
              <!-- /Search -->

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->
          <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
              <!-- Left Column with 4 cards in 2x2 grid -->
              <div class="col-lg-4 col-md-4">
                <div class="row h-100">
                  <div class="col-6 mb-4 d-flex align-items-stretch">
                    <div class="card w-100">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <img src="../../static/assets/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                          </div>
                        </div>
                        <span class="d-block mb-1">Inventory cost</span>
                        <h3 id="inventory-cost" class="card-title mb-2">₩0</h3>
                      </div>
                      <!-- Hidden elements or data attributes containing maintenance costs -->
                      <div id="maintenance-costs" style="display:none;">
                        {% for product in products %}
                          <span class="maintenance-cost">{{ product.maintenance_cost }}</span>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-4 d-flex align-items-stretch">
                    <div class="card w-100">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <img src="../../static/assets/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded" />
                          </div>
                        </div>
                        <span>Revenue</span>
                        <h3 id="revenue" class="card-title text-nowrap mb-1">₩0</h3>
                      </div>
                      <!-- Hidden elements containing the necessary data values -->
                      <div id="data-values" style="display:none;">
                        {% for product in products %}
                          <span class="product-sellingprice">{{ product.product_sellingprice }}</span>
                          <span class="maintenance-cost">{{ product.maintenance_cost }}</span>
                        {% endfor %}
                        {% for order in orders %}
                          <span class="detail-qty">{{ order.detail_qty }}</span>
                        {% endfor %}
                        {% for supplier in suppliers %}
                          <span class="supplier-sellingprice">{{ supplier.supplier_sellingprice }}</span>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mb-4 d-flex align-items-stretch">
                    <div class="card w-100">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <img src="../../static/assets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                          </div>
                        </div>
                        <span class="d-block mb-1">Delivered Product</span>
                        <h3 id="delivered-product" class="card-title text-nowrap mb-2">0</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Hidden elements containing the necessary data values -->
                  <div id="order-statuses" style="display:none;">
                    {% for order in orders %}
                      <span class="order-status" data-status="{{ order.order_status }}">{{ order.detail_qty }}</span>
                    {% endfor %}
                  </div>
                  <div class="col-6 mb-4 d-flex align-items-stretch">
                    <div class="card w-100">
                      <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <img src="../../static/assets/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
                          </div>
                        </div>
                        <span class="d-block mb-1">CO2 emissions</span>
                        <h3 id="co2-emissions" class="card-title mb-2">0t</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Hidden elements containing maintenance costs -->
                  <div id="maintenance-costs" style="display:none;">
                    {% for product in products %}
                      <span class="maintenance-cost">{{ product.maintenance_cost }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <script>
                // Select all maintenance cost elements
                const maintenanceCostElements = document.querySelectorAll('.maintenance-cost');

                // Calculate the total maintenance cost
                let totalMaintenanceCost = 0;
                maintenanceCostElements.forEach(element => {
                  totalMaintenanceCost += parseFloat(element.textContent);
                });

                // Update the inventory cost in the HTML
                const inventoryCostElement = document.getElementById('inventory-cost');
                inventoryCostElement.textContent = `₩${totalMaintenanceCost.toLocaleString()}`;

                // Function to calculate revenue
                function calculateRevenue() {
                  const productSellingPrices = document.querySelectorAll('.product-sellingprice');
                  const maintenanceCosts = document.querySelectorAll('.maintenance-cost');
                  const detailQtys = document.querySelectorAll('.detail-qty');
                  const supplierSellingPrices = document.querySelectorAll('.supplier-sellingprice');

                  let totalRevenue = 0;

                  // Assuming that each product has a corresponding order and supplier entry in the same order
                  productSellingPrices.forEach((productSellingPriceElement, index) => {
                    const productSellingPrice = parseFloat(productSellingPriceElement.textContent);
                    const maintenanceCost = parseFloat(maintenanceCosts[index].textContent);
                    const detailQty = parseFloat(detailQtys[index].textContent);
                    const supplierSellingPrice = parseFloat(supplierSellingPrices[index].textContent);

                    totalRevenue += (productSellingPrice * detailQty) - supplierSellingPrice - maintenanceCost;
                  });

                  return totalRevenue;
                }

                // Calculate total revenue and update the HTML
                const totalRevenue = calculateRevenue();
                const revenueElement = document.getElementById('revenue');
                revenueElement.textContent = `₩${totalRevenue.toLocaleString()}`;

                // Arrived Product 갯수 구하기
                document.addEventListener('DOMContentLoaded', function() {
                  // Select all order status elements
                  const orderStatusElements = document.querySelectorAll('.order-status');

                  // Calculate the total delivered products
                  let totalDeliveredProducts = 0;
                  orderStatusElements.forEach(element => {
                    if (element.getAttribute('data-status') === 'Arrived') {
                      totalDeliveredProducts += parseInt(element.textContent, 10);
                    }
                  });

                  // Update the delivered product count in the HTML
                  const deliveredProductElement = document.getElementById('delivered-product');
                  deliveredProductElement.textContent = totalDeliveredProducts.toLocaleString();
                });

                // CO2 배출량 구하기
                document.addEventListener('DOMContentLoaded', function() {
                  // Select all maintenance cost elements
                  const maintenanceCostElements = document.querySelectorAll('.maintenance-cost');

                  // Calculate the total maintenance cost
                  let totalMaintenanceCost = 0;
                  maintenanceCostElements.forEach(element => {
                    totalMaintenanceCost += parseFloat(element.textContent);
                  });

                  // Calculate CO2 emissions
                  const co2Emissions = (totalMaintenanceCost * 0.4781) / 78.6;

                  // Update the CO2 emissions in the HTML
                  const co2EmissionsElement = document.getElementById('co2-emissions');
                  co2EmissionsElement.textContent = `${Math.round(co2Emissions).toLocaleString()}t`;
                });

              </script>

              <!-- Warehouse Overview -->
              <div class="col-12 col-lg-8 mb-4">
                <div class="card h-100">
                  <div class="row row-bordered g-0">
                    <div class="col-md-8">
                      <h5 class="card-header m-0 me-2 pb-3">Warehouse Overview</h5>
                      <div id="totalRevenueChart" class="px-2"></div>
                    </div>
                    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
                      <div id="growthChart"></div>
                      <div class="text-center fw-semibold pt-3 mb-2">Total Capacity</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Hidden elements containing product locations -->
              <div id="product-locations" style="display:none;">
                {% for product in products %}
                  <span class="product-location">{{ product.product_location }}</span>
                {% endfor %}
              </div>

              <!-- Hidden elements containing product quantities -->
              <div id="product-quantities" style="display:none;">
                {% for product in products %}
                  <span class="product-qty">{{ product.product_qty }}</span>
                {% endfor %}
              </div>
              <!-- Warehouse Overview -->

            
            <!-- New section for Desk, Sofa, Lamp, Chair -->
            <div class="col-12 mb-4">
              <div class="card h-100" style="background-color: white; padding: 10px;">
                <div class="card-header">
                  <h5>Order Overview</h5>
                </div>
                <div class="row">
                  <div class="col-3 d-flex align-items-stretch">
                    <div class="card w-100" style="background-color: #f0f4f7; margin: 5px;">
                      <div class="card-body p-2">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <span class="avatar-initial rounded bg-label-primary">
                              <img src="https://cdn.pixabay.com/photo/2019/04/15/18/46/desk-4130056_1280.png" alt="icon" style="width: 32px; height: 32px;">
                            </span>
                          </div>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div>
                            <h6 class="mb-0">Table</h6>
                            <small class="text-muted">Baby, School, Display</small>
                          </div>
                          <div class="user-progress ms-auto">
                            <small class="fw-semibold" style="font-size: 24px;">82.5k</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 d-flex align-items-stretch">
                    <div class="card w-100" style="background-color: #e2f7e1; margin: 5px;">
                      <div class="card-body p-2">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <span class="avatar-initial rounded bg-label-success">
                              <img src="https://cdn.pixabay.com/photo/2019/01/29/01/32/chair-3961592_640.png" alt="icon" style="width: 32px; height: 32px;">
                            </span>
                          </div>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div>
                            <h6 class="mb-0">Sofa</h6>
                            <small class="text-muted">Leather, Sofabed </small>
                          </div>
                          <div class="user-progress ms-auto">
                            <small class="fw-semibold" style="font-size: 24px;">23.8k</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 d-flex align-items-stretch">
                    <div class="card w-100" style="background-color: #e0f3f8; margin: 5px;">
                      <div class="card-body p-2">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <span class="avatar-initial rounded bg-label-info">
                              <img src="https://images.vexels.com/media/users/3/220997/isolated/preview/7b97ca6e96457093db1458c50eeea623-victorian-floor-lamp-illustration.png" alt="icon" style="width: 32px; height: 32px;">
                            </span>
                          </div>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div>
                            <h6 class="mb-0">Lamp</h6>
                            <small class="text-muted">Floor, Chandelier</small>
                          </div>
                          <div class="user-progress ms-auto">
                            <small class="fw-semibold" style="font-size: 24px;">849k</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 d-flex align-items-stretch">
                    <div class="card w-100" style="background-color: #f9f1e1; margin: 5px;">
                      <div class="card-body p-2">
                        <div class="card-title d-flex align-items-start justify-content-between">
                          <div class="avatar flex-shrink-0">
                            <span class="avatar-initial rounded bg-label-secondary">
                              <img src="https://mblogthumb-phinf.pstatic.net/20150331_127/so9ool_14277372136719BrR5_PNG/wooden-575876_1280.png?type=w420" alt="icon" style="width: 32px; height: 32px;">
                            </span>
                          </div>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                          <div>
                            <h6 class="mb-0">Chair</h6>
                            <small class="text-muted">Old people, School, Massage</small>
                          </div>
                          <div class="user-progress ms-auto">
                            <small class="fw-semibold" style="font-size: 24px;">99</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
          
            <!-- Add this CSS to ensure height consistency -->
            <!-- Add this CSS to ensure height consistency -->
        <style>
          .card {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
          }
        
          .row.h-100 .col-6.mb-4 {
            display: flex;
            flex-direction: column;
          }
        
          .row.h-100 .col-6.mb-4 .card {
            flex: 1;
          }
        
          .row .col-3.d-flex.align-items-stretch .card {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        
          .card-body.p-2 {
            padding: 0.5rem !important;
          }
        
          .user-progress.ms-auto {
            margin-left: auto;
            align-self: flex-start;
            padding-top: 10px;
          }
        </style>



          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../static/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../static/assets/vendor/libs/popper/popper.js"></script>
    <script src="../../static/assets/vendor/js/bootstrap.js"></script>
    <script src="../../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../../static/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../static/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../../static/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../static/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
