{% extends 'base.html' %}
{% block title %}Order{% endblock %}
{% block content %}

        <!-------------Main Contents---->
        <!-- create_product.html -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Product /</span> Create Order
            </h4>
            <div class="card mb-4">
                
                <div class="card-body">
                    <form method="post" id="product-form">
                        <div id="form-container">
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label" for="basic-default-fullname">Order ID</label>
                                        <input type="number" class="form-control" id="basic-default-fullname" name="order_id" placeholder="#9901" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="basic-default-company">Supplier ID</label>
                                        <input type="text" class="form-control" id="basic-default-company" name="supplier_id" placeholder="#ABC-001" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="typeNumber">Detail Quantity</label>
                                        <input type="number" id="typeNumber" class="form-control" name="quantity" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="exampleFormControlSelect1" class="form-label">Total Cost</label>
                                        <input type="text" id="basic-default-supplier" class="form-control" name="total_cast" placeholder="₩10,000"/>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="html5-date-input" class="form-label">Estimated ArrivalDate</label>
                                        <input class="form-control" type="date" name="date" value="2024-06-01" id="arrival-date-input" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="html5-date-input" class="form-label">Order Date</label>
                                        <input class="form-control" type="date" name="date" value="2024-06-01" id="order-date-input" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleFormControlSelect1" class="form-label">Order Status</label>
                                        <input type="text" id="basic-default-supplier" class="form-control" name="order_status" placeholder="Non-arrived"/>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    
{% endblock %}
