{% extends 'base.html' %}
{% block title %}Order Detail{% endblock %}
{% block content %}

               <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Order Detail /</span> List
    </h4>

    <div class="d-flex justify-content-end mb-3">
        <a href='{% url 'order_detail_create' %}' class="badge bg-label-success me-5">Create</a>
    </div>

    <div class="card">
        <h5 class="card-header">Order Detail List</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Supplier ID</th>
                        <th>Product ID</th>
                        <th>Detail Qty</th>
                        <th>Discount</th>
                        <th>Description</th>
                        <th>Actions</th> <!-- Actions 열 추가 -->
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for orderdetail in order_detail %}
                    <tr>
                        <td>{{ orderdetail.order_id }}</td>
                        <td>{{ orderdetail.supplier_id }}</td>
                        <td>{{ orderdetail.product_id }}</td>
                        <td>{{ orderdetail.detail_qty }}</td>
                        <td>{{ orderdetail.discount}}</td>
                        <td>{{ orderdetail.description}}</td>
                        <td>
                            <a href="{% url 'order_detail_update' orderdetail.order_id orderdetail.supplier_id orderdetail.product_id %}" class="badge bg-label-primary me-5">Update</a>
                            <a href="{% url 'order_detail_delete' orderdetail.order_id orderdetail.supplier_id orderdetail.product_id %}" class="badge bg-label-danger me-5">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <nav aria-label="Page navigation" style="padding: 0 15px; margin-top: 10px;">
            <ul class="pagination justify-content-end">
                <li class="page-item prev">
                    <a class="page-link" href="javascript:void(0);">
                        <i class="tf-icon bx bx-chevrons-left"></i>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                <li class="page-item next">
                    <a class="page-link" href="javascript:void(0);">
                        <i class="tf-icon bx bx-chevrons-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


{% endblock %}
