{% extends 'base.html' %}
{% block title %}Order{% endblock %}
{% block content %}

                <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Order /</span> Order List
    </h4>

    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'order_create' %}" class="badge bg-label-success me-5">Create</a>
    </div>

    <div class="card">
        <h5 class="card-header">Order List</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User ID</th>
                        <th>Total Cost</th>
                        <th>Order Date</th>
                        <th>Arrival Date (E)</th>
                        <th>Order Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.order_id }}</td>
                        <td>{{ order.user_id }}</td>
                        <td>{{ order.order_totalcost }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>{{ order.expected_arrivaldate }}</td>
                        <td>{{ order.order_status }}</td>
                        <td>
                            <a href="{% url 'order_update' order.order_id %}" class="badge bg-label-primary me-5">Update</a>
                            <a href="{% url 'order_delete' order.order_id %}" class="badge bg-label-danger me-5">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation" style="padding: 0 15px; margin-top: 10px;">
            <ul class="pagination justify-content-end">
                <li class="page-item prev">
                    <a class="page-link" href="javascript:void(0);">
                        <i class="tf-icon bx bx-chevrons-left"></i>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                <li class="page-item next">
                    <a class="page-link" href="javascript:void(0);">
                        <i class="tf-icon bx bx-chevrons-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


{% endblock %}