{% extends 'base.html' %}
{% block title %}Order{% endblock %}
{% block content %}

            <!-------------Main Contents---->
            <!-- delivery_list.html에 입력된 값을 그대로 불러오도록 해주세요. -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4">
                    <span class="text-muted fw-light">Ordered List /</span> Order Update
                </h4>
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                    </div>
                    <div class="card-body">
                        <form method="post" id="product-form">
                            <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="order_id">Order ID</label>
                                        <input type="number" class="form-control" id="order_id" name="order_id" placeholder="#9901" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="user_id">User ID</label>
                                        <input type="text" class="form-control" id="user_id" name="user_id" placeholder="#ABC-001" />
                                    </div>
                                    
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="order_totalcost" class="order_totalcost">Total Cost</label>
                                        <input type="text" id="order_totalcost" class="form-control" name="order_totalcost" placeholder="10000"/>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="estimated_arrivaldate" class="form-label">Estimated ArrivalDate</label>
                                        <input class="form-control" type="date" name="estimated_arrivaldate" value="2024-06-01" id="estimated_arrivaldate" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="order_date" class="form-label">Order Date</label>
                                        <input class="form-control" type="date" name="order_date" value="2024-06-01" id="order_date" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleFormControlSelect1" class="order_status">Order Status</label>
                                        <input type="text" id="order_status" class="form-control" name="order_status" placeholder=""/>
                                    </div>
                                    
                                </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}
