{% extends 'base.html' %}
{% block title %}Order Detail{% endblock %}
{% block content %}

            <!-------------Main Contents---->
            <!-- Please make sure to load the values in delivery_list.html as is. -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4">
                    <span class="text-muted fw-light">Order Detail /</span> Update
                </h4>
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                    </div>
                    <div class="card-body">
                        <form method="post" id="orderdetail-form">
                            <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="order_id">Order ID</label>
                                        <input type="text" class="form-control" id="order_id" name="order_id" placeholder="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="supplier_id">Supplier ID</label>
                                        <input type="text" class="form-control" id="supplier_id" name="supplier_id" placeholder="" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="product_id">Product ID</label>
                                        <input type="text" class="form-control" id="product_id" name="product_id" placeholder="" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="detail_qty">Detail Qty</label>
                                        <input type="number" class="form-control" id="detail_qty" name="detail_qty" placeholder="" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="discount">Discount</label>
                                        <input type="number" class="form-control" id="discount" name="discount" placeholder="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="description">Description</label>
                                        <input type="text" class="form-control" id="description" name="description" placeholder="This supplier is generous" />
                                    </div>
                                    
                                </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
      
    {% endblock %}