{% extends 'base.html' %}
{% block title %}Order{% endblock %}
{% block content %}

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4">
                        <span class="text-muted fw-light">Order /</span> Order List
                    </h4>

                    <div class="d-flex justify-content-end mb-3">
                        <a href='{% url 'order_create' %}' class="badge bg-label-success me-5">Create</a>
                    </div>

                    <div class="card">
                        {% for order in orders %}
                        <h5 class="card-header">Order List</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>User ID</th>
                                        <th>Total Cost</th>
                                        <th>Order Date</th>
                                        <th>Arrival Date(E)</th>
                                        <th>Order Status</th>
                                        
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">

                                    <tr>
                                        <td>{{ order.order_id }}</td>
                                        <td>{{ order.employee.user_id }}</td>
                                        <td>{{ order.order_totalcost }}</td>
                                        <td>{{ order.order_date }}</td>
                                        <td>{{ order.estimated_arrivaldate }}</td>
                                        <td>{{ order.order_status }}</td>
                                        <td>
                                            <a href="{% url 'order_update' order.order_id %}" class="badge bg-label-primary me-5">Update</a>
                                            <a href="{% url 'order_delete' order.order_id %}" class="badge bg-label-danger me-5">Delete</a>   
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
                </div>

{% endblock %}