{% extends 'base.html' %}
{% block title %}Order{% endblock %}
{% block content %} 

        <!-------------Main Contents---->
        <!-- create_product.html -->
            <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Order /</span> Order Create 
        </h4>
        <div class="card mb-4">
            <div class="card-body">
                <form method="post" id="order-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}