{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block content %}

            <!-------------Main Contents---->
            <!-- Please make sure to load the values in delivery_list.html as is. -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4">
                    <span class="text-muted fw-light">Product /</span> Product Update
                </h4>
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0 me-3">Product ID:</h5>
                            <input type="text" class="form-control" id="order-id" name="product_id" value="{{ product.product_id }}" placeholder="Enter Order ID" style="flex: 1; max-width: 200px;" />
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" id="product-form">
                                <div class="row mb-3">
                                    
                                    <div class="col-md-6">
                                        <label class="form-label" for="basic-default-company">Product Name</label>
                                        <input type="text" class="form-control" id="basic-default-company" name="product_name" placeholder="Dining Table" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="typeNumber">Quantity</label>
                                        <input type="number" id="typeNumber" class="form-control" name="quantity" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="basic-default-company">Category</label>
                                        <input type="text" class="form-control" id="basic-default-company" name="product_category" placeholder="Table" />
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label class="form-label" for="basic-default-company">Selling Price</label>
                                        <input type="text" class="form-control" id="basic-default-company" name="product_sellingprice" placeholder="₩ " />
                                    
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label" for="basic-default-fullname">Volumn</label>
                                        <input type="text" class="form-control" id="basic-default-fullname" name="product_volume" placeholder="30cm2" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="basic-default-company">Weight</label>
                                        <input type="text" class="form-control" id="basic-default-company" name="product_weight" placeholder="100kg" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="basic-default-company">Location</label>
                                        <input type="text" class="form-control" id="basic-default-company" name="product_location" placeholder="A" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label class="form-label" for="basic-default-fullname">M cost</label>
                                        <input type="text" class="form-control" id="basic-default-fullname" name="maintanence_cost" placeholder="₩" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="typeNumber">Stock</label>
                                        <input type="number" id="typeNumber" class="form-control" name="stock" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="typeNumber">Min Qty</label>
                                        <input type="number" id="typeNumber" class="form-control" name="min_qty" />
                                    </div>
                                </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
      
    {% endblock %}
