{% extends 'base.html' %}
{% block title %}Shipment{% endblock %}
{% block content %}
    <!--Main contents-->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Shipment /</span> Shipment List
        </h4>

        <!-- CRUD 버튼 활성화시키기 -->
        <div class="d-flex justify-content-end mb-3">
            <a href='{% url 'create_shipment' %}' class="badge bg-label-success me-5">Create</a>
        </div>

        <!-- Basic Bootstrap Table -->
        <div class="card">
            <h5 class="card-header">{{ shipment.shipment_id }}</h5> <!--Table Name-->
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Warehouse Out Date</th>
                            <th>Customer Arrival Date</th>
                            <th>Shipment Status</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for shipment in shipments %}
                        <tr>
                            <td>
                                <ul>
                                    {% for detail in shipment.shipmentdetail_set.all %}
                                        <li>{{ detail.product.product_id }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for detail in shipment.shipmentdetail_set.all %}
                                        <li>{{ detail.product.product_name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for detail in shipment.shipmentdetail_set.all %}
                                        <li>{{ detail.detail_qty }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ shipment.warehouse_outdate }}</td>
                            <td>
                                <ul>
                                    {% for detail in shipment.shipmentdetail_set.all %}
                                        <li>{{ detail.customer_arrival_date }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ shipment.shipment_status }}</td>
                            <td>
                                {% for detail in shipment.shipmentdetail_set.all %}
                                    <a href="{% url 'update_shipment_detail' %}" class="btn btn-primary me-2">Update</a>
                                    <a href="{% url 'delete_shipment_detail' %}" class="btn btn-danger">Delete</a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation" style="padding: 0 15px; margin-top: 10px;">
                <ul class="pagination justify-content-end">
                    <li class="page-item prev">
                        <a class="page-link" href="javascript:void(0);">
                            <i class="tf-icon bx bx-chevrons-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                    <li class="page-item next">
                        <a class="page-link" href="javascript:void(0);">
                            <i class="tf-icon bx bx-chevrons-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}