{% extends 'base.html' %}
{% block title %}Shipment{% endblock %}
{% block content %}
    <!--Delete confirm-->
    <!--please update form when user click "yes"-->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Shipment Detail /</span> Shipment Delete
    </h4>
        <div class="row justify-content-center align-items-center min-vh-200">
            <div class="col-md-12 col-lg-8">
                  <div class="card text-center mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Delete</h5>
                          <p class="card-text">You cannot recover after delete. Are you sure?</p>
                          <a href="javascript:void(0)" class="btn btn-primary">Yes</a>
                          <a href="shipment_detail_list.html" class="btn btn-danger">No</a>
                        </div>
                  </div>
            </div>
        </div>
  </div>
{% endblock %}