{% extends 'base.html' %}
{% block title %}Shipment{% endblock %}
{% block content %}
<!-------------Main Contents---->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Shipment Detail /</span> Shipment Create Detail
        </h4>
        <div class="card mb-4">
            <div class="card-body">
                <form method="post" id="shipment-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
